name: expansion_panel2
description: A spin on ExpansionPanel from Flutter
version: 1.0.0
repository: https://github.com/itulau/expansion_panel2

environment:
  sdk: ^3.6.0

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  lints: ^5.0.0
  test: ^1.24.0
